*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: 0;
    box-sizing: border-box;
}

“/*”body{
    position: relative;
    width: 1286px;
    height: 3211px;
    background: #FFFFFF;
}“*/”

.container{
    width: auto;
    height: auto;
    background-color: #a8e9a6;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.containerTop{
    background-image: url(img/Cabecalho.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 580px;
    background-color: #ffffff;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.containerMenu {
    width: 95%;
    height: 70px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
}

.containerMenuLeft {
    width: 60%;
    /* height: 580px; */
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
}

.containerMenuRight {
    width: 40%;
    /* height: 580px; */
    /* background-color: blue; */
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.topButton {
    background-color: rgb(255, 255, 255);
    border-radius: 200px;
    padding: 10px;
    /* margin-top: 10px; */
    cursor: pointer;
    width: 80px;
    /* margin-left: 20px; */
}

.topButtonSecundary {
    background-color: transparent;
    border-radius: 200px;
    padding: 10px;
    /* margin-top: 10px; */
    cursor: pointer;
    width: 80px;
    margin-left: 20px; 
    color:#fff;
}

.textButtonTopSecundary {
    font-family: arial, sans-serif;;
    font-size: 14px;
    color: #fff;
}

.containerMenuBottom {
    width: 95%;
    /* height: 580px; */
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.texttop {
    font-weight: 700;
	font-size: 60px;
	font-family: arial, sans-serif;
    line-height: 70px;
    color: #fff;
}

.containerMenuInput {
    width: 40%;
    height: 70px;
    background-color: #fff;
    display: flex; 
    margin-top: 15px;
    border-radius: 20px;
}

.inputButtom {
    color: rgb(255, 255, 255);
    background-color: white;
}

.containerMenuInputLeft {
    width: 10%;
    /* height: 100px; */
    /* background-color: gray; */
    display: flex; 
    align-items: center;
    justify-content: center;
}

.containerMenuInputCenter {
    width: 80%;
    /* height: 100px; */
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerMenuInputRight {
    width: 10%;
    /* height: 100px; */
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuInput {
    font-family: arial, sans-serif;;
    font-size: 30px;
    color: #000;
}

.inputButtom {
    /* width: 95%; */
    /* height: 580px; */
    /* background-color: pink; */
    /* display: flex; */
    /* justify-content: center; */
    /* margin-top: 100px; */
}

.containerInfo {
    width: 100%;
    height: 400px;
    /* border:1px solid black; */
    background-color: white;
    display: flex;
    /* flex-direction: row;
    justify-content: center;
    align-items: center; */
}   

.box{
    width: 33%;
    height: 400px;
    flex-wrap: wrap;
    z-index: 1;
    padding-top: 30px; 
}

#boxleft{
    text-align: center;
    justify-content: center;
    padding: 50px;
    justify-content: space-around;
}

#boxcenter{
    text-align: center;
    justify-content: center;
    padding: 50px;
}

#boxright{
    text-align: center;
    justify-content: center;
    padding: 50px;
}

.link{
    padding-top: 20px;
    color: red;
}

.containerBanner{
    width: 100%;
    height: 517px;
    background-color: #fff;
    display: flex;
}

.containerBannerLeft{
    width: 40%;
    height: 517px;
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px;
    /* padding-right: 30px; */
    
}

.textBanner1 {
    /* font-style: italic; */
	font-weight: 700;
	font-size: 40px;
	font-family: arial, sans-serif;
    line-height: 48px;
}

.textBanner2{
    /* font-style: italic; */
    font-weight: 500;
	font-size: 18px;
	font-family: arial, sans-serif;
    line-height: 24px;
}

.containerBannerRight{
    width: 60%;
    height: 517px;
    /*background-color: red;*/
    display: flex;
    justify-content: center;

}

.containerWelcome{
    width: 100%;
    height: 517px;    
    background-color: #FFF0ED;
    display: flex;
}

.containerWelcomeLeft{
    width: 60%;
    height: 517px;    
    /*background-color: #dee69f;*/
    display: flex;
    justify-content: center;
}

.getButton{
    background-color: red;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.textButtonGet{
    font-family: arial, sans-serif;;
    font-size: 14px;
    color: white;
}

.textWelcome1{
    /* font-style: italic; */
	font-weight: 700;
	font-size: 40px;
	font-family: arial, sans-serif;
    line-height: 48px;
}

.textWelcome2{
    /* font-style: italic; */
    font-weight: 500;
	font-size: 18px;
	font-family: arial, sans-serif;
    line-height: 24px;
}

.findButton{
    background-color: red;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.textButtonFind{
    font-family: arial, sans-serif;;
    font-size: 14px;
    color: white;
}

.containerWelcomeRight{
    width: 40%;
    height: 517px;    
    /*background-color: #f7f32c;*/
    display: flex;  
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px;
}

.containerLink{
    width: 100%;
    height: 517px;  
    padding: 20px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.link1{
    width: 50%;
    height: 50px;
    background-color: #f3a632;
    padding-left: 20px;
}

.link2{
    width: 50%;
    height: 50px;
    background-color: rgb(116, 119, 119);
    padding-left: 20px;

}

.footer{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex; 
    /* justify-content: center; */
    /* align-items: center; */
}

.footerLeft{
    width: 70%;
    height: 100%;
    display: flex; 
    background-color: black;
    padding-left: 20px;  
    align-items: center;
}

.footerLink{
  margin-left: 50px;
  font-family: arial, sans-serif;;
  font-size: 14px;
  color: white;
}

.footerRight{
    width: 30%;
    height: 100%;
    display: flex; 
    background-color: black;
    align-items: center;
    justify-content: flex-end;
    
}

.imgFooterRight{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    
}